@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* navbar border transition */
.nav-item {
  @apply relative;
}

.nav-item::after {
  @apply absolute bottom-0 left-0 h-0.5 bg-gray-500 transition-all duration-300;
  content: '';
  width: 0;
}

.nav-item.active::after {
  width: 100%;
}
/*** navbar ***/